.home{
    margin-top: 2vh;
    width: 98vw;
    height: 90vh;
    margin-left: 2vw;
}

.home::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

.idea{
    color: aqua;
    margin-left: 13vw;
    margin-bottom: 3vh;
}

.idea textarea{
    width: 68vw;
    height: 26vh;
    color: aqua;
    padding: 3% 3%;
    font-family: system-ui;
    background: #0b1a1a;
    font-style: italic;
    font-weight: 600;
    border-radius: 12px;
}

.main-container-prompt-music{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prompt-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 9vh;
   
}

 label{
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
    font-style: italic;
    color: aqua;
    margin-bottom: 1vh;
}

.orientation-set label{
    font-size: 16px;
    cursor: pointer;
}

.orientation-set{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-prompt{
    display: flex;
    flex-direction: row;
}

button{
    border-radius: 19px;
    height: 6vh;
    border: none;
    font-style: italic;
    margin-left: 1vw;
    color: black;
    font-weight: 500;
    background: aqua;
    width: 8vw;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: aqua;
    transition: all ease-in-out 0.5s;
}

.input-prompt input{
    width: 30vw;
    height: 6vh;
    padding: 0.2% 0.2%;
    border-radius: 10px;
    font-size: 18px;
    background-color: aqua;
    text-align: center;
    flex-grow: 1;
}

.input-prompt i{
    cursor: pointer;
}

.input-prompt i:hover{ 
    color: rgb(204 226 222) !important;
    transition: all ease-in-out 0.5s;
}

input::placeholder{
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    color: black;
}

.music-file-uploader{
    display: flex;
    flex-direction: row;
}


.video-length{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-left: 12vw;
}

.video-length-input{
    display: flex;
    flex-direction: row;
}

.video-length-input input{
    width: 10vw;
    height: 6vh;
    padding: 0.2% 0.2%;
    border-radius: 10px;
    font-size: 18px;
    background-color: aqua;
    text-align: center;
    font-style: italic;
}



.video-part{
    display: flex;
    flex-direction: column;
}

.video-options{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

#music {
    width: 6vw;
}

.video-length-aspect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imageUploads input{
    width: 7vw;
}

.imageUploads{
    margin-left: 15vw;
    margin-bottom: 2vh;
}

.create-video{
    margin-left: 14vw;
    margin-bottom: 2vh;
}

.enhanced-prompt{
    width: 80vw;
    text-align: justify;
    margin-left: 13vw;
    color: aqua;
}

.lyrics{
    color: aqua;
    margin-left: 13vw;
    width: 51vw;
}

.lyrics textarea{
    width: 80vw;
    height: 42vh;
    padding: 3% 3%;
    background: aqua;
    font-style: italic;
    font-weight: 600;
    border-radius: 12px;
}

textarea::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

.img-prompt-list textarea{
    width: 43vw;
    height: 22vh;
    padding: 3% 3%;
    background: aqua;
    font-weight: 600;
    border-radius: 12px;
}

.preview{
    color: aqua;
}

.video-part{
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-top: 3vh;
}

.video-part h2{
    color: aqua;
}


.lyrics i{
    color: rgb(12, 225, 215);
    font-size: 35px;
    margin-left: 1vw;
    cursor: pointer;
}


.idea i{
    color: rgb(12, 225, 215);
    font-size: 35px;
    margin-left: 1vw;
    cursor: pointer;
}


.video-display {
    width: 100%;
    max-width: 600px; 
    margin-left: -6vw;
  }
  
  .video-display video {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
  }

  @media (max-width:700px){
    .main-container-prompt-music{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    button{
        width: 16vw;
        border-radius: 7px;
    }

    .music-file-uploader{
        flex-direction: column;
        margin-bottom: 1vh;
    }
    .imageUploads{
    display: flex;
    flex-direction: column;
    }
    input[type="file"], #music{
        width: 30vw;
    }
  }